<!-- 본문영역 -->
<script>
    try{

    }catch (e) {
        console.log("errrr" + e);
    }
</script>
<article class="white-note account-complete">

    <h2>Account creation is accepted!</h2>
    <div class="account-cont">
        <p class="creat-account">Created account : <strong><%=memAccount%></strong></p>
        <div class="info">
            <p>Please check your account to OASISBloc Explorer in about one minute.</p>
            <p>Try to create your account more if the account is not created.</p>
            <a href="<%=config.explorerUrl%>/search?q=<%=memAccount%>" class="txt-link" target="_blank" title="New Window"><%=config.explorerUrl%>/search?q=<%=memAccount%></a>
        </div>
    </div>
    <a href="/" class="btn large blue">OK</a>

</article>

<!-- //본문영역 -->